[2020-04-09 13:03] CohenArthur opened #2 "Only append URLs that belong to the same domain"
If we visit `example.com`, we should only visit URLs of the form `example.com/*`.

[2020-04-10 17:59] #2 closed, assigned to CohenArthur

[2020-04-10 18:01] CohenArthur opened #7 "Refactor disk::save_to_disk() -> disk::save()"

[2020-04-10 18:03] CohenArthur opened #8 "Handle filenames too long for the system"
Running suckit on https://wikipedia.com/wiki/coronavirus fails on the second visit as it tries downloading a file with a very long URL

[2020-04-10 18:42] CohenArthur opened #10 "Fix duplicate downloadings"
`suckit` downloads some pages multiple times, for exemple:

`suckit https://escapefromtarkov.gamepedia.com/Category:Link_templates | sort | uniq -c | sort`

returns the following:
[code]

[2020-04-10 18:47] #7 closed, assigned to nobody

[2020-04-12 14:37] #8 closed, assigned to nobody

[2020-04-13 18:30] #10 closed, assigned to nobody

[2020-04-13 20:38] CohenArthur opened #15 "Handle SIGINT to save Scraper state"

[2020-04-13 20:39] CohenArthur opened #16 "Add multithreading"

[2020-04-13 20:57] CohenArthur opened #18 "Pre-compile crates on CI image"

[2020-04-13 21:33] CohenArthur opened #19 "Add benchmark"

[2020-04-13 21:36] CohenArthur opened #20 "Handle subdomains"
Handle subdomains such as `https://static.lwm.net` for `https://lwm.net`

[2020-04-13 22:08] Skallwar opened #21 "Depth counter"
We need an cli option to stop the scrapping at a given depth level

[2020-04-13 22:24] Skallwar opened #23 "Refactor and prettify"
The code need to be rework and prettify after the MVP rush

[2020-04-13 22:40] CohenArthur opened #24 "Handle incomplete content"
Fix crashes on `hyper::Error(IncompleteMessage)` by retrying for example.

Here's an example often producing it:

[code]

[2020-04-14 07:56] CohenArthur opened #25 "Handle downloading of dl.acm.org"

[2020-04-14 20:12] CohenArthur opened #27 "Add logging"

[2020-04-14 20:16] CohenArthur opened #28 "Add timing benchmark with http://books.toscrape.com"

[2020-04-14 20:54] #24 closed, assigned to nobody

[2020-04-15 19:38] #21 closed, assigned to Skallwar

[2020-04-16 13:28] CohenArthur opened #31 "Add depth to multithreaded scraper"

[2020-04-16 18:00] #31 closed, assigned to nobody

[2020-04-16 20:12] #19 closed, assigned to nobody

[2020-04-16 20:12] #28 closed, assigned to nobody

[2020-04-16 21:55] CohenArthur opened #34 "Add test for unique visit of each URL"

[2020-04-18 12:36] #16 closed, assigned to nobody

[2020-04-18 12:36] #23 closed, assigned to nobody

[2020-04-18 12:59] #34 closed, assigned to nobody

[2020-04-18 14:42] #27 closed, assigned to CohenArthur

[2020-04-29 09:08] CohenArthur opened #40 "Use struct shorthand initialization as suggested"
Turn the following initializations

[code]

into

[code]

[2020-04-30 09:55] CohenArthur opened #49 "Create cross platform symlinks"

[2020-04-30 10:40] CohenArthur opened #50 "Add more documentation"
Some modules could use some more documentation

[2020-04-30 10:42] #40 closed

[2020-04-30 10:44] Skallwar commented on #25
SuckIT is too quick for the ACM. We need a random delay between two downloads

[2020-04-30 10:46] Skallwar opened #51 "Feature: Random delays"
This is needed to avoid IP banning

[2020-04-30 10:55] CohenArthur opened #52 "Add multiple levels of logging"
Add levels so that only ERROR, WARN AND ERROR or all logging levels will be printed

[2020-04-30 14:07] CohenArthur opened #55 "Add better help messages on CLI"
Executin `suckit --help` shows the options but not what each of them does

[2020-05-05 06:49] Skallwar opened #57 "Feature: Change user agent"
It would be greate to specify a user agent from the CLI a give it to reqwest

[2020-05-05 06:54] #55 closed

[2020-05-05 12:16] CohenArthur opened #58 "Change default retries of benchmark from 5 to 10"

[2020-05-05 12:51] CohenArthur opened #59 "Run speed tests on local copy of website to avoid connection failure and IP bans"

[2020-05-05 14:58] Skallwar opened #60 "Support creation of WARC"
https://iipc.github.io/warc-specifications/specifications/warc-format/warc-1.1/

[2020-05-05 17:07] xGigaa opened #63 "Sites with foreigner characters are shown as gibberish."
Some sites are shown with gibberish characters instead of the correct once, however this doesn't seems to happen consistently.

![Screenshot_20200505_185303](https://user-images.githubusercontent.com/24317395/81094154-66c3c000-8f03-11ea-8dd4-d855b2976f62.png)

NRK.no shows the correct characters (æøå) but gamlegjerpen.no does not.
Seems like gamlegjerpen.no does not contain: `<meta charset="utf-8"

[2020-05-05 17:09] Skallwar opened #64 "Feature: Unlimited download"
-d 'big number here' is not clean way to download a whole website

[2020-05-05 17:27] CohenArthur commented on #63
@xGigaa thanks a lot for reporting an issue. Can you paste the exact command you typed ?

[2020-05-05 17:31] xGigaa commented on #63
Sure.
`./suckit http://www.gamlegjerpen.no/ -j 8 -o /run/media/gigaa/67489829-d767-48c7-aabd-f7c3180f5895/backup/gamlegjerpen`
And
`./suckit https://www.nrk.no/ -j 8 -o /run/media/gigaa/67489829-d767-48c7-aabd-f7c3180f5895/backup/nrk`
(NRK is a large news site so be wary if you try to download the whole site)

[2020-05-05 22:53] SpyrosRoum commented on #51
How much of a delay would be a good amount and what kind of difference would be enough to not trigger a block?
I'm relatively new to Rust but I'd like to give this a try so if there is anything else I should know please share it

[2020-05-05 23:37] CohenArthur commented on #51
@SpyrosRoum the delay you linked to only happens when the queue is empty. If that sleep happens too much, then the application will just end since it means we ran out of links to visit. However, it's possible that the queue is empty for a little while while some other threads are repopulating it. So we set the inactive threads to sleep for a little bit (SLEEP_DURATION) so that they're not running

[2020-05-05 23:51] SpyrosRoum commented on #51
Ohh you are right, I didn't pay much attention at all (I just did a ctrl + f for sleep_duration xd)

So we would want to use a random delay only if we successfully  got something from the queue. Which means we would sleep after we handled the url in the Ok arm of that same match. Right?

I would agree to be assigned to it but I feel like what I am thinking is too easy to not be already done by one

[2020-05-05 23:58] CohenArthur commented on #51
That sounds like a good idea ! The reason we haven't done it yet is there were other more important features to implement, and we're also quite busy. It's marked as a good first issue, so it is one of the easy ones, no worries :) some require a bit more understanding of other parts of the code but this one is fairly simple. I'll assign you :)

[2020-05-06 00:02] SpyrosRoum commented on #51
Amazing, I'll get right to it
Now back to my original question, do you have any idea of what would be a base value and what would be a good deviation between for every sleep?

This will inevitably slow down the whole thing so I guess we want to be as low as possible

Also, is using the [rand](https://crates.io/crates/rand) lib acceptable?

[2020-05-06 00:05] CohenArthur commented on #51
I have zero idea about what a good delay would be haha. I'm sure there are some articles related to scraping that can help.

Using a lib if you can't find the required function in the standard lib is perfectly fine !

And regarding the process: You should fork, make your changes and then open a pull request against our master :) we'll review it then. Thanks again !

[2020-05-06 01:19] SpyrosRoum commented on #51
Alright, I have some good and some bad news
After looking around for a bit, some places suggested a delay of 10 - 20 seconds while some others said about 5 seconds should do it.

So I added a base of 2 seconds and an extra random number from 0 to 5. So in total the delay would be between 2 - 7 seconds

This means running `suckit http://books.toscrape.com -j 8` (built for debug) for one minute down

[2020-05-06 02:55] 0187773933 opened #67 "adding --cookies for accessing pages behind login"
allow importing of cookies via --coookies to be sent along with each request

[2020-05-06 03:46] matematikaadit opened #68 "Also scrape resource mentioned in CSS via `url(...)`"
Usually, a website will use [`url(...)`](https://developer.mozilla.org/en-US/docs/Web/CSS/url) in the css to point out to another resource such as background image, logo, sprite, fonts, or even another css. Would love this resource getting downloaded too.

[2020-05-06 07:38] CohenArthur commented on #68
I think that's definitely a good idea. We'll work on this !

[2020-05-06 07:39] CohenArthur commented on #67
Sure ! Good idea

[2020-05-06 08:23] johanstokking opened #69 "Panic with EmptyHost"
I'm getting the following panics;

[code]

Could be a link without host?

[2020-05-06 08:25] CohenArthur commented on #69
Could you please paste the command you used ? Thanks for reporting it !

[2020-05-06 08:32] johanstokking commented on #69
Sure; I'm downloading our website;

[code]

It seems to fail roughly at the same time, but it's hard to tell as lots of content gets downloaded correctly before this panic.

[2020-05-06 08:49] CohenArthur opened #70 "Handle downloading of https://getbootstrap.com"

[2020-05-06 09:28] Skallwar commented on #51
Thanks for the work, you rock :)
Some website don't need such a feature to be scraped. The goal here is to add an option for website which require this timing limitation.

With this option enabled, yes SuckIT will be slow but otherwise the performance will be the same as before

[2020-05-06 09:32] Skallwar opened #71 "Feature: Disable SSL checks"
We need to be able to scrap websites with an invalid certificate

[2020-05-06 12:44] #51 closed

[2020-05-06 14:46] SpyrosRoum commented on #64
Can I take a look at this too? I am thinking if you put -1 it will download everything by checking if `args.depth == -1 || depth < args.depth` [here](https://github.com/Skallwar/suckit/blob/master/src/scraper.rs#L102)

[2020-05-06 15:09] CohenArthur commented on #64
Definitely ! I like -1 as value for unlimited and default value

[2020-05-06 15:20] Skallwar opened #72 "Feature: Selective disk save"
Save only certain file type (eg: image only, pdf and zip, ...)

[2020-05-06 15:53] #64 closed

[2020-05-06 15:54] SpyrosRoum commented on #49
destination will always be a directory, right?

[2020-05-06 15:56] Skallwar commented on #49
No, a file

[2020-05-06 16:01] SpyrosRoum commented on #49
Hm to be honest I am not really sure I get why you need to create symlinks at all but assuming it's always for a file, I can do that with [windows::os::fs::symlink_file](https://doc.rust-lang.org/std/os/windows/fs/fn.symlink_file.html)

[2020-05-06 16:03] CohenArthur opened #74 "Feature: Add external-depth to allow visit of other subdomains"

[2020-05-06 16:05] CohenArthur opened #75 "Feature: Limit downloading to certain file extensions with pattern"
A nice option would be to restrict the downloading (but not the visiting) of content with a certain extension. For example, running `suckit <url> --extensions "mp[3-4]"` would only download MP3 and MP4 files using a regex

[2020-05-06 16:07] Skallwar commented on #49
Sometime we discover a link wich is a pdf (eg. test.org/pdf/test.pdf). So a page wich contain a link to this file will replace every test.org/pdf/test.pdf by test_org_pdf_test_pdf. But the real name of this pdf (test.pdf) is only found when actualy processing the url (test.org/pdf/test.pdf). At this point we save the pdf to it's real filename and create a symlink between test.pdf and ```test_org_p

[2020-05-06 16:32] creativcoder commented on #75
Hey @CohenArthur I'd like to work on this!

[2020-05-06 16:36] CohenArthur commented on #75
Sure ! Thanks a lot @creativcoder

[2020-05-06 16:37] Skallwar commented on #72
Duplicate of #75

[2020-05-06 16:37] #72 closed

[2020-05-06 16:44] CohenArthur commented on #75
@creativcoder I think it would be nice to also add a form of "exclusion" to exclude some file types, using a regex as well. We can open a separate issue or you can work on it as well if you want

[2020-05-06 17:13] creativcoder commented on #75
Exclude as in not visit the links? Sure, will add that as well!

[2020-05-06 17:27] Dedsec1 opened #77 "Disk: Stop flat archive creation"
hi :)

loving this program so far but just had one feature idea / request, is it possible to have an like a -mirror flag or sitemap output flag so the downloader can output with the same folder structure as the site based on url or folders that its downloading.  the reason i ask is when trying this on a few public open directories it makes several folders with the site name and then with the file

[2020-05-06 17:29] #57 closed

[2020-05-06 17:30] CohenArthur commented on #75
As in visit the links to find more links, but do not download the files

[2020-05-06 17:34] Skallwar commented on #77
Thanks for giving it a spin :)

This should be the default behavior. We will work on that

[2020-05-06 17:37] Dedsec1 commented on #77
no problem,  i never used a rust based program before and its pretty quick so far.

[2020-05-06 22:14] SpyrosRoum commented on #25
Isn't that fixed now since #51 has been closed?

[2020-05-06 22:16] SpyrosRoum commented on #49
If you know of a url that needs this I can try to do it. Is that the only reason why it doesn't work in windows?

[2020-05-06 22:27] CohenArthur commented on #49
We *think* it's the only reason but haven't tried. There might be more to it. If you have a windows build available, feel free to try. I'll add it to the CI as well

[2020-05-06 22:27] #25 closed

[2020-05-06 22:30] SpyrosRoum commented on #49
I have a vm I can use but from what I understand it doesn't happen with every page you try to download, right?

[2020-05-06 22:33] CohenArthur commented on #49
True, symlinks aren't always created. The code calling `disk::symlink()` is [here](https://github.com/Skallwar/suckit/blob/16a5ed9cf73cc3446822e0b6c654219ea3c81abc/src/scraper.rs#L131)

[2020-05-06 22:37] SpyrosRoum commented on #49
I know, I am asking if you already know of a page that requires symlinks so I can easily test it

[2020-05-06 22:41] CohenArthur commented on #49
Oh my bad, sorry about the confusion. Any page downloading PDFs basically, so a page like https://dl.acm.org/doi/book/10.1145/3368274 is good.

[2020-05-06 23:05] bjeanes opened #78 "memory allocation of 2147483648 bytes failed (that's 2GB!)"
I tried running it on a directory posted on reddit yesterday:

[code]

I don't understand how it would ever come to try to allocate 2GB of memory. None of the files is that big (and even if they were, they shouldn't be buffered to memory).

I left it running for sometime so it didn't happen until quite late in the game when I was afk. I didn't run with `RUST_BACKTRACE` so don't have more details a

[2020-05-06 23:05] bjeanes commented on #78
Ah actually I do have one other bit of information, because my `.zshrc` outputs timing for any command over 2 seconds:

[code]

[2020-05-06 23:08] bjeanes commented on #78
I can see from re-running with --versbose that it ascended to a parent directory so I suppose it may have encountered a larger file or has some data structure that is growing with each link and hit some upper bound.

[2020-05-06 23:57] tbillington opened #79 "Save files with extension"
Awesome project :)

Haven't seen anyone else mention it so I might be using it wrong.. but I am getting all downloaded files without an extension. Here is a screenshot from downloading a small site.

My assumption would be it would save files `about.html`, `favicon.png`, `global.css` etc. It looks like they're mostly there but with an underscore instead of a period.

On mac (10.15.4) if that helps

[2020-05-07 01:37] Taubin commented on #79
Same happens with it installed through cargo on WSL.

[2020-05-07 07:51] CohenArthur commented on #79
This is *intended* but it's not something we have to keep. I agree it's a bit weird. When you open one of the pages with a browser, it will get all pages correctly.

We'll definitely change that! It shouldn't change anything right now, but maybe image viewers and such are not happy about it.

Thanks for the report !

[2020-05-07 07:52] CohenArthur commented on #78
Thanks a lot for the report. We're investigating it

[2020-05-07 10:16] bjeanes commented on #78
Re-running reproduced it at the ~28 minute mark. No backtrace shown even with `RUST_BACKTRACE=1` (haven't tried `RUST_BACKTRACE=full`), but I haven't checked if `cargo install` strips debug symbols or something. Hopefully you're able to reproduce.

[2020-05-07 11:52] CohenArthur commented on #78
`cargo install` does strip debug symbols since it's building in release mode. You can compile the project with `cargo build` if you want them, or simply run `cargo run -- <your suckit arguments>`. Thanks again, I'll let you know how we're progressing.

[2020-05-08 15:33] dvtkrlbs opened #81 "Asciinema recording in the readme is archived"
<img width="938" alt="Screen Shot 2020-05-08 at 18 31 06" src="https://user-images.githubusercontent.com/24792168/81421573-535e6200-915a-11ea-8a81-df7ea01e0ad5.png">

[2020-05-08 16:08] CohenArthur commented on #81
Thanks @dvtkrlbs , this is fixed in #80 but it hasn't been merged yet :)

[2020-05-08 17:20] #81 closed

[2020-05-08 20:18] Skallwar commented on #79
This is hard to do without #77 I'm working on a solution that will solve both of this issue

[2020-05-10 10:02] tbillington opened #82 "Ignore pages that have a 404 status code"
Currently suckit will save pages even if they are indicated as not found by the webserver. I think this is erroneous behaviour.

Eg this page on my site that 404s was saved to disk.

Chrome dev tools:
![Screen Shot 2020-05-10 at 8 01 14 pm](https://user-images.githubusercontent.com/2771466/81496201-2e542580-92f9-11ea-8783-de3eb439d7e7.png)

File explorer:
![Screen Shot 2020-05-10 at 8 01 22 pm](ht

[2020-05-10 14:32] Skallwar commented on #82
We could have one 404 error page by website

[2020-05-12 01:51] tbillington commented on #82
As long as you're aware that is an opinionated choice :) some sites have custom 404s by section of the site etc, some will keep the original URL like in my screenshot, some will redirect to a dedicated 404 URL, some will show a 404 page with a 200 response.. Web crawling is messy!

Perhaps this could be a configuration thing, but that's up to you :)

[2020-05-14 15:02] turkeyphant commented on #79
Same here except it also replaces ```/``` with an ```_``` meaning the directory structure is lost as well as the file extensions.

[2020-05-14 15:22] Skallwar commented on #79
Should be fixed by #77. I can't work on this at the moment

[2020-05-17 12:21] #75 closed

[2020-05-24 16:59] guruprasaad123 opened #86 "After scraping https://getbootstrap.com , having problem rendering"
# my first Experiment :

I tasked **suckit** to scrape the website - https://getbootstrap.com so that i can have bootstrap documentations offline it seems to have downloaded the website but i opened the website in my browser it isn't rendering properly ( having issues with css files i guess )

And this Added feature to **suckit**

[2020-05-25 18:51] CohenArthur commented on #86
Hi, thanks a lot for your issue ! I think this is a duplicate of #70 . We've had a report for it already

[2020-05-26 03:28] guruprasaad123 commented on #86
Sorry please dont mind

[2020-05-28 17:06] #86 closed

[2020-05-28 17:10] Skallwar commented on #70
SuckIT does not scrape CSS and javascript files, so any link to other sources is not followed and thus downloaded

[2020-05-30 10:07] edo0 commented on #63
The same happens with very basic accented Spanish characters.
e.g.  `suckit http://www.spagnolo-online.de/` (2 GB website)

[2020-06-08 23:25] Sciencentistguy opened #87 "Support for websites that want a username/password"
There should be command line options to supply a http username and password.

[2020-06-09 07:58] Skallwar commented on #87
Yes, thanks for the report :+1:

[2020-07-08 03:09] nmjohnson opened #91 "What type of regex works?"
What are the wildcards for include/exclude regex? I tried %, *, and . and I don't think any of them worked. The script eventually runs into some errors and saves nothing. I want to find a specific .aspx filename and only save those because this website probably has at least 10 billion unique pages.

[2020-07-08 07:22] CohenArthur commented on #91
@nmjohnson the Regexes are the one from the standard [Rust Regex crate](https://github.com/rust-lang/regex). The syntax is the same as Perl regexes.

So to download all aspx pages, you should use the following regex `.*.aspx`

[2020-07-23 12:53] #91 closed

[2020-09-29 07:44] Skallwar opened #94 "Dry run"
It would be nice to run suckit without saving anything to disk

[2020-10-03 20:36] #94 closed

[2020-10-03 21:51] pjsier commented on #87
@Skallwar I'm interested in taking this on if it's available!

[2020-10-04 08:17] Skallwar commented on #87
Go ahead ;)

[2020-10-04 14:17] pjsier commented on #87
@Skallwar from looking into this a bit, it looks like HTTP basic auth is already supported by `reqwest` if you supply the credentials in the URL itself like "https://username:password@example.com/". Is this still something you'd want to implement command line options for?

If so, from what I'm seeing we could either set default HTTP basic auth headers in the `client` field of `Downloader` which wo

[2020-10-04 19:33] Skallwar commented on #87
I suggest [basic_auth](https://docs.rs/reqwest/0.10.8/reqwest/struct.RequestBuilder.html#method.basic_auth) because we may encounter different domain with different username/password. This way before making a request, we could fetch in a data structure (maybe a hashtable) a username/password.

From the command line, we need to be able to specify triplets separated with a ``,`` (or something else)

[2020-10-12 07:20] CohenArthur commented on #87
Closed with #96

[2020-10-12 08:13] #87 closed

[2020-10-12 12:42] pjsier opened #99 "Remove fragment hash from scraped URLs"
Scraping a web page with multiple links to specific sections on another page (i.e. "/#section") results in duplicate downloads of the same page because the URL fragment is different. According to the [`fragment` method docs](https://docs.rs/url/2.1.1/url/struct.Url.html#method.fragment) this portion of the URL isn't typically sent to the server, and in my understanding it would only make a differe

[2020-10-12 12:44] CohenArthur commented on #99
Sure, that's a good catch. Feel free to open a PR :+1:

[2020-10-12 14:17] #99 closed

[2020-10-16 08:02] n1tram1 opened #102 "Can't download the POSIX Shell Command Language spec"
I can't download this website: https://pubs.opengroup.org/onlinepubs/7908799/xcu/chap2.html
I get an error with unwraps.

If I try to just download: https://pubs.opengroup.org it works.

Is this normal ?

[2020-10-16 08:06] n1tram1 commented on #102
Looks like this issue just fixed itself somehow

[2020-10-16 08:06] #102 closed

[2020-12-20 15:11] Skallwar commented on #63
My first approach was to use the the charset="XXX" in http headers fields. But some site does not provide it. So my next bet is to use a regex in the header of the page to fetch charset="XXXX". Is this a good idea ?

[2020-12-20 19:22] The-Stellaris-Effect opened #104 "os error 22 thread '<unnamed>' panicked when i attempt a crawl"
seemed to work for a while but then was suddenly hit with this error. -c switch doesn't seem to help
[ERROR] Couldn't create /run/media/path/to/website/"f.txt": Invalid argument (os error 22)
thread '<unnamed>' panicked at 'Couldn't create /run/media/path/to/website/"f.txt": Invalid argument (os error 22)', src/logger.rs:42:9
note: run with `RUST_BACKTRACE=1` environment variable to display a back

[2020-12-20 19:49] CohenArthur commented on #104
@The-Stellaris-Effect which website was it that you tried to download?

[2020-12-21 08:51] CohenArthur commented on #104
Also it would be nice to have the exact details on the error. This error means that the OS couldn't create a file, because the path input is not valid. Is the file you're trying to download really named "f.txt"?

[2020-12-21 11:58] Skallwar commented on #63
I got this working bassed on the regex thing. The code is ugly but it's getting there. #105

[2020-12-28 22:23] CohenArthur opened #107 "Improve speed regression testing"
- [ ] Add commit hashes to .csv
- [ ] Add computer identifier to rerun all tests on different computers

[2020-12-30 04:28] The-Stellaris-Effect commented on #104
I was attempting to crawl a site known as phys.org, it's a scientific news site essentially. also yes the file was actually called "f.txt" according to the error
idk what exactly the issue was however i'm either suspecting it's an env difference of the server and my device where "" is allowed server side but not client side. or it was because i was adding to a directory a program previously wrote

[2020-12-30 09:21] Skallwar commented on #104
Ok. Could you provide how you invoked SuckIT? If possible, tune the URL in order for us to get the error the fastest way possible.

Suckit might not be the way to go as of now, a lot of website configurations are not handled yet and you might crash often

[2021-01-04 19:02] Skallwar commented on #82
A good solution can be to hash a 404 or 200 webpage. This way if the page is specific to this URL it is saved, if not we could make a symbolic link to the generic one.

[2021-01-04 19:09] Skallwar commented on #58
This as already be done

[2021-01-04 19:09] #58 closed

[2021-01-04 19:15] Skallwar commented on #20
I don't remember what is wrong here :sweat_smile:

[2021-01-04 22:49] tbillington commented on #82
Yea I think it's tricky. If it's legitimately just a bad link to a page that was never existed or a href that was relative when it shouldn't have been you might hit an infinite loop (i've seen this in practise).

[2021-01-05 08:53] Skallwar commented on #82
Humm ok. We have more serious issues  and very little time currently, we will give this a try latter

[2021-01-05 08:57] #63 closed

[2021-01-05 22:47] tbillington commented on #82
Yea no rush :)

[2021-01-08 03:23] cacaxiforyou opened #109 "panicked at 'called `Option::unwrap()` on a `None`"
I downloaded the latest release version, The version does not seem to be updated to 0.1.1.
[code]

When I use it, errors occur most of the time. I don't know rust well, the program is great, I hope to get help.
[code]

[code]

[2021-01-08 09:00] CohenArthur commented on #109
[code]

Sorry about that, you did get the 0.1.1 release, it's just that the code's version specified in the file `Cargo.toml` wasn't updated :sweat_smile: You can create a PR for it if you want, or I'll update it

[2021-01-08 09:01] CohenArthur commented on #109
I'm going to check the error you encountered. You're trying to download anything but PNG pictures from bing?

[2021-01-08 10:37] Like0x commented on #109
Yes! . In fact, I want to do download some resources,such as html/js/css .But not image resources. I used bing for testing. I encountered this panic on many sites.

[2021-01-10 21:55] #77 closed

[2021-01-11 21:09] Skallwar commented on #109
There are lot of issues right now that needs to be fixed before tackling this one. I will notify you when I will start working on this, but I can't give you a time frame, SuckIT is a side project for me for the time being.

[2021-01-13 05:00] Like0x commented on #109
Thank :)

[2021-01-14 13:29] Skallwar commented on #107
Fixed by #108

[2021-04-23 12:31] CohenArthur opened #113 "Describe the benefit of each feature in the README"

[2021-04-23 12:31] CohenArthur opened #114 "Explain lack of windows support in README"

[2021-05-22 19:17] untitaker opened #116 "suckit crashes when mirroring docs.sentry.io"
suckit crashes when mirroring docs.sentry.io to disk. In the interest of reproducability and speed, a zipfile with all static contents is attached which for simulation purposes could be served with `python3 -mhttp.server` or [http-server](https://www.npmjs.com/package/http-server) or nginx (I recommend the npm package, it is easy to use and fast), and the [site is open-source so it can be built lo

[2021-05-22 19:31] Skallwar commented on #116
Thanks for reporting all of this. At the moment I am very busy with projects for my different courses.

 I will look into this when I will have free time. I will mark this as a good first issue

[2021-05-22 19:55] untitaker commented on #116
I will try to work on this + the other issues I file.

[2021-05-22 19:59] Skallwar commented on #116
Awesome!!

[2021-05-22 22:05] untitaker commented on #116
#117 fixes the immediate panic. Now I get this:

[code]

I probably need help here, I do not understand the data flow from/into path map.

[2021-05-23 16:30] Skallwar commented on #116
The goal of the path map is to attribute an unique path to an url at the time we are discovering new urls. This way we can cache the result of the url -> path conversion. The problem here is that as the url we are working on line 180 have already been encountered before and should have been added line 190 when we were downloading and fixing the page with a reference to the page we are currently wo

[2021-05-25 19:47] #116 closed

[2021-06-25 07:00] hbina commented on #114
Its already there?

[2021-06-25 07:51] CohenArthur commented on #114
We wrote that it's not available but didn't go into detail as to why, which is the reason for this issue

[2021-07-01 14:54] pinkforest commented on #107
@CohenArthur @Skallwar any specific reason for bringing python and http.server ?

httpmock for rust would provide portablity and runs either standalone or via API in sync and async context if you wish to decide adopt async later and include it easily within tests.

httpmock runs on hyper (like reqwest) and also features delay setting and I've been pondering contributing there for more network beha

[2021-07-01 15:09] CohenArthur commented on #107
Not really :D It was simple, and this is what the first testing benchmark was originally written in. It would scrape http://books.toscrape.com/ and time it, which was bad for a number of reasons. I am definitely not against functional testing/benchmarking being done in Rust, and I don't think @Skallwar is either.

The test clones the linux repository in order to benefit from a big folder with know

[2021-07-02 02:00] pinkforest commented on #107
@CohenArthur @Skallwar Are you okay if I change to lib-bin pattern from binary only now?

Essentially I would split all the library logic to library and binary that requires different things e.g. for shell related libraries.

This is a common pattern and will make organising code, testing and dependency management much easier between two sets of needs.

[2021-07-02 02:04] pinkforest opened #124 "Library Binary Pattern"
@CohenArthur @Skallwar Are you okay if I change to lib-bin pattern from binary only now?

Essentially I would split all the library logic to library and binary that requires different things e.g. for shell related libraries.

This is a common pattern and will make organising code, benches, testing and dependency management easier between two sets of needs among other things.

Also common pattern i

[2021-07-02 07:17] CohenArthur commented on #124
Yup, this is a really good idea. This is something that we had thought about earlier, but never got around to doing. I'd love to see it implemented.

[2021-07-02 07:24] CohenArthur opened #129 "The following labels could not be found: `domain: deps`."
The following labels could not be found: `domain: deps`.

_Originally posted by @dependabot[bot] in https://github.com/Skallwar/suckit/issues/125#issuecomment-872779463_

This seems to be due to an "issue" (maybe not?) with `dependabot.yml`

[2021-07-02 07:27] pinkforest commented on #129
It's just a warning, dependabot uses labels to tag it's PRs.

You may want to add those labels as they are generated via automation and can be used to trigger things later.

You can create them in pull requests / labels:

https://github.com/Skallwar/suckit/labels

[2021-07-02 07:28] CohenArthur commented on #129
Aaaaah, fantastic thanks a lot. That makes sense!

[2021-07-02 07:29] #129 closed

[2021-07-02 07:38] pinkforest opened #130 "Minimum Supported Rust Version (MSRV)"
Rust has RFC open for MSRV:
https://github.com/rust-lang/rust/issues/65262

Cargo has added it:
https://github.com/rust-lang/cargo/pull/8037

I test MSRV as part of my CI:
https://github.com/pinkforest/gis_puller/blob/main/.github/workflows/CI.yml

I have multiple toolchains so I just usually run & test with +toolchain to figure this out.

Badge is available from shields.io - e.g. 1.47.0:
`![MSRV]

[2021-07-06 17:33] pinkforest commented on #124
@CohenArthur @Skallwar initial lib-bin split is there,

On top need to push:
- move out panics & error propagation (quick_error will be good for this)
- tests to use library not binary execution
- dependencies by optional features (maybe, not that important I guess for now)

[2021-07-06 17:44] pinkforest opened #133 "Use of Unsafe"
@Skallwar @CohenArthur

I ran a geiger and came across couple of unsafes.

Wonder what was/is the intent on here and has it been audited somehow? I didn't get into it too deep yet but.

[code]
src/dom.rs
[code]

src/scraper.rs
[code]

[2021-07-06 18:48] Skallwar commented on #124
Add a checkbox list to this issue to make it a tracking issue of the patch-set

[2021-07-06 18:49] Skallwar commented on #124
I would also like to see the argument parsing moved to the bin

[2021-07-06 20:53] Skallwar commented on #130
I'm running [foresterre/cargo-msrv](https://github.com/foresterre/cargo-msrv). I will report the results tomorrow

[2021-07-06 20:57] pinkforest commented on #15
@CohenArthur @Skallwar

This could be done simply by on-the-fly comparing (if exists) local output directory whilst walking the scraping operation forward.

From logic wise we need to walk the local directory to establish any unresolved leafs at any given point.

e.g. when getting the initial index/hook point we can just compare locally (if exists) to that would be result and then iterate from the

[2021-07-06 21:53] Skallwar commented on #15
I need to give a proper look at your comment tomorrow, but I think that our biggest concern was about the different hashtable and the waiting queue of the scrapper.

If we can make sure that every ongoing download/dom-tree fixing are finished properly, we can then artificially starve the thread pool and dump our internal state to a file

[2021-07-06 22:24] pinkforest commented on #15
The diff-local-comparison when continuing a run does not add much overhead.

This compared to adding additional fragile / non-portable state.

There are a lot of gotchas/problems when trying to handle SIGINT and especially if waiting and there may be I/O issues.

Using signals is neither portable and signal may not have been emitted.

I could have destroyed the docker container I was running this

[2021-07-06 22:50] mr-bo-jangles commented on #114
This should be resolved with https://github.com/Skallwar/suckit/pull/134. It changes nothing for Unix hosts, but handles the windows case for you.

[2021-07-06 23:01] mr-bo-jangles opened #135 "Request - Limit download to subdirectory"

[2021-07-06 23:08] pinkforest commented on #135
@mr-bo-jangles you could already do this with -i | --include regex filter?

It does suck the index pages tho.

$ suckit -v -j 1 --delay 1 -i "https://github.com/Skallwar/suckit/issues/\d+$" https://github.com/Skallwar/suckit/issues/135
2021-07-07 09:05:15.923696530 +10:00: [INFO] Visited: https://github.com/Skallwar/suckit/issues/135
2021-07-07 09:05:17.092501186 +10:00: [INFO] Visited: https://gi

[2021-07-07 03:38] pinkforest opened #136 "Scroller SVG Image optimisation"
I see someone else hit #119 before

**Network Perspective**

asciicinema.org sets max age 0s so it is never pulled from cache but always pulls it remotely via Github's proxy.

But network/transfer of the file doesn't cause this freezing.

**Rendering Issue**

CPU gets a bit antsy from processing this 256 KB svg:
`[![asciicast](https://asciinema.org/a/327889.svg)](https://asciinema.org/a/327889)`

[2021-07-07 05:46] pinkforest commented on #136
Using [termtosvg](https://github.com/nbedos/termtosvg)

**Recording**

[code]

I get 666 Lines in moderate standard GCP instance :dagger:

**Render**

Then I bluntly "render: it out from the .txt I just recorded with 5s delay loop.

[code]
Result is that it loads instantly no CPU going crazy or freezing around.

Neither I need to click play e.g. no controls required.

I will further optimize that

[2021-07-07 06:42] pinkforest commented on #136
First I will adjust the timing that types the initial prompt command:

[code]
There is a second delay from blunt copy-paste of the command... it's pretty blunt :/

But if we want to show it like it's typed, we have to key it like this with 60ms delay each character:
[code]

We can incorporate nice rolling prompt to our svg demo:
https://cdn.jsdelivr.net/gh/pinkforest/svg-testing-bloat/prompt-natur

[2021-07-07 07:14] CohenArthur commented on #136
Wow, thanks for putting the time in this, that's really appreciated!

Regarding the typing/rolling effect, it feels like this is easily scriptable so we might look into it. The output is very nice

I haven't had the time to look into it, but isn't there anything we can do while using asciinema? You seem knowledgeable about SVGs haha

[2021-07-07 07:20] pinkforest commented on #136
Check this out:
https://github.com/pinkforest/svg-testing-bloat

[2021-07-07 07:22] CohenArthur commented on #15
I think the original idea was to serialize the scrapper's state to disk and reload it afterwards. Any download that had not completed at the time would simply not be serialized and re-downloaded upon reload. I'm afraid that running through the already downloaded data is gonna be a really big hit compared to deserializing a single file, but I've never done Crash design haha.

There is valid concern

[2021-07-07 07:24] CohenArthur commented on #136
Wow, that's really cool!

The only thing that I just remembered is that we also added the asciinema to show the speed of the scraper. So I think the Blunt Timings would be better at showcasing speed

[2021-07-07 07:30] pinkforest commented on #136
Problem with that is that it doesn't illustrate the usage very well...

And blunt timings are very variable and doesn't really show what is going on well.

Rather have fixed timings so it is repeatable and not reliant on things like internet speed/hardware etc.

I could look into leaving the prompt on line 1 e.g. ansi \e[1;1h and then input everything from \e[2;1h if I remember how ANSI worked for

[2021-07-07 08:08] Skallwar commented on #130
The MSRV is: 1.44.1

[2021-07-07 08:18] pinkforest commented on #130
Cool!

I would additionally eventually recommend setting in README/documentation:

 - Policy promise for stable minus 2 for current development/main branch
 - Tag in a table respective MSRV with each release/crate tag

Not too bothered usually but for heavily used libraries it might make sense eventually (hello enterprise world)

[2021-07-07 08:21] pinkforest commented on #15
Most people will run this in docker non-interactively .. or at least I do :)

[2021-07-07 09:07] pinkforest commented on #136
Aand if we want to be meaningfully interactive

Then the progress bar and such things are must

More ANSI-graphical things on CLI world like trafshow and others are more usable for that.

Lots of rolling text doesn't really make much sense

When it could be presented instead in CLI ANSI graphical form just like a lot of the examples in ascii cinema already show.

[2021-07-07 09:48] mr-bo-jangles commented on #135
Ok, it looks like the include functionality is much more robust than I thought it was.

Out of interest, does that regex support Unicode characters (Cyrillic, Chinese, etc?).

How would I be able to say for example: Scrape this "https://site.to.scrape/public/" and ensure that the scraped directories under it consists of all alphanumeric+space regardless of language?

[2021-07-07 09:55] Skallwar commented on #136
I wonder if using a gif will be better looking. We avoid the performance issue + the video is playing automagically

[2021-07-07 10:37] pinkforest commented on #136
No.

I fixed the performance issue already that freezes firefoxes within Svg for which I pushed a PR.

GIF is binary image data (think pixels) and it doesn't know how to animate and it will be gigantic at these sizes.

SVG when used appropriately is very performant.

[2021-07-07 10:57] pinkforest commented on #135
Should be, it's not tested much though as far as I can see :)

As Rust String type is UTF-8 around,

I would expect it's input is relayed to Regex as such from clap opt struct that comes from ~directly from CLI args.

Now localising regex ranges is a bit different for groups can be tricky.

Python provides string.letters that honors locale and can be used as exact list of allowed characters per lo

[2021-07-07 11:11] Skallwar commented on #136
For some reason, it did not on my phone? But it works on my phone.

[2021-07-07 11:19] pinkforest commented on #136
Are you using some esoteric android browser you compiled from source by yourself perhaps? :laughing:

For me works on:
 - iPad on Brave
 - iPad on Safari
 - Linux on Mozilla
 - iOS iPhone 12 Pro Max on Safari

[2021-07-07 16:27] pinkforest commented on #136
Anyways fixed @ #139

Thanks for the patience everyone :rabbit: :smile:

[2021-07-07 16:27] #136 closed

[2021-07-07 16:57] #130 closed

[2021-07-07 18:39] pinkforest commented on #135
@mr-bo-jangles want to close this issue and open new issue about clarifying UTF-8 / URL Encoding handling for --include ?

It would be helpful to have some concrete minimal reproducible examples that we can add to tests.

[2021-07-07 18:58] marchellodev opened #142 "Scraping URLs from JavaScript and CSS"
Currently, the main issue that prevents from downloading large websites with a lot of JavaScript is the suckit's inability to scrape links from JS and CSS as well as from HTML.

I think JS (as well as CSS) is too complicated to parse, so we could just use regular expressions to find urls, add them to the queue, and then replace them with the local format.

Thanks for such an amazing piece of softw

[2021-07-07 20:18] enindu opened #143 "Fonts download support"
I tried to download [https://www.phyxle.com](https://www.phyxle.com) site

[2021-07-07 20:41] Skallwar commented on #142
Thanks for reporting this. Regex might be the way to go indeed.
If you are interested to do it, feel free to assign yourself and open a PR :smiley:

Thanks a lot, this means a lot to @CohenArthur and I

[2021-07-07 20:57] Skallwar commented on #79
This should be good now. @tbillington can you confirm that the current version of SuckIT does what you want ?

[2021-07-07 20:59] Skallwar commented on #114
Fixed by #134

[2021-07-07 20:59] #114 closed

[2021-07-07 21:27] CohenArthur commented on #136
Knowing him, probably :eyes:

[2021-07-07 21:30] CohenArthur commented on #135
We are using [Rust's regex crate](https://crates.io/crates/regex) and I believe that it would be be best to keep it. [It can handle Unicode](https://docs.rs/regex/1.5.4/regex/#unicode) so I think your use-case should be covered @mr-bo-jangles but I'm not certain of course. Feel free to test it and report back!

[2021-07-07 21:40] Skallwar commented on #136
Thanks for your work 😊

[2021-07-08 12:13] marchellodev commented on #142
@Skallwar I'd love to!

It seems like `find_urls_as_strings()` returns mutable list of all the urls, that you can change, and this change will be instantly reflected in dom via the `kuchiki` library. I try to select every `<script>` element and then find urls inside via regex. I am not sure how I can do the same here - return the mutable string that will be attached to the dom.

I think we should

[2021-07-08 14:32] marchellodev opened #144 "Quoting issue on charset detection"
When trying to scrape ted.com:

[code]

Not a big deal, but kind of annoying. Also, I am not really sure how to fix it, since this method returns `'utf-8'`, not `utf-8`
https://github.com/Skallwar/suckit/blob/master/src/scraper.rs#L99

[2021-07-08 14:55] Skallwar commented on #144
That's weird. maybe we will need to unquote

[2021-07-08 15:05] marchellodev commented on #144
Yeah, removing ' works, but I don't think that's the most elegant solution :)

[2021-07-08 19:29] Skallwar commented on #142
I'm note sure regex are the way to go. That's slow and matching url and relative url will be quite hard.

I think there a some good CSS parser out there based on servo [this one](https://docs.rs/cssparser/0.28.1/cssparser/) or [this one](https://docs.rs/css/0.0.22/css/)

Js might be more tricky

[2021-07-09 08:17] #135 closed

[2021-07-09 08:37] mr-bo-jangles opened #145 "Unicode handling of --include and --exclude"
So my specific usecase here is attempting to mirror a site with a lot of directories of various languages, but skipping the static files at a higher level.

Example Folder Structure
[code]

I want to be sure that by running a command similar to `suckit https://domain.tld -i "/Books/[a-Z0-9]+/"` I will download the Tree under `/Books/` while excluding anything under `./`, `../`, and `===/`

[2021-07-09 12:20] Skallwar commented on #144
We just need to update the regex to remove potential `'`, no big deal

[2021-07-09 12:23] Skallwar commented on #145
This looks correct. The best way to know is by testing it, and I would love to see the result of such a test. If you can build this directory tree, just serve it using a webserver and try to run suckit on localhost

[2021-07-17 13:06] Skallwar commented on #79
Feel free to reopen this if needed

[2021-07-17 13:06] #79 closed

[2021-08-31 21:31] Skallwar commented on #145
@mr-bo-jangles Did it worked ?

[2021-09-16 12:33] Skallwar commented on #124
Hi @pinkforest, I hope you are doing well. I was wondering if you are not planing to followup on this or if you are just taking a break?

[2021-09-23 18:43] #69 closed

[2021-10-04 18:56] #144 closed

[2021-12-05 19:18] Merlin1846 commented on #78
I had the exact same problem down to the byte, but I'm not working with large files.
[code]

[2021-12-10 20:24] Skallwar opened #161 "Give [tl](https://github.com/y21/tl) a try"
[tl](https://github.com/y21/tl) could be a good replacement of [kuchiki](https://github.com/kuchiki-rs/kuchiki)

It will be interesting to do some benchmarks to compare the two of them

[2021-12-19 20:40] Skallwar commented on #161
See https://github.com/y21/tl/issues/9

[2022-01-09 16:42] Skallwar commented on #68
I will try first with regex to have the feature but at some point we should use a parser instead imao

[2022-02-15 14:38] brink668 opened #170 "Solved: error: linkr 'cc' not found during install"
After installing rust and then trying to install the tool in Ubuntu I am receive the following error.

[code]

[2022-02-15 14:53] brink668 commented on #170
Should I be using a different distro instead of Ubuntu?

[2022-02-15 15:23] brink668 commented on #170
Solved by

1. Creating new Ubuntu 20.04 machine
2. #apt-get update
3. #curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
4. #source $HOME/.cargo/env
5. #sudo apt install build-essential
6. #apt install pkg-config && libssl-dev
7. #cargo install --git https://github.com/skallwar/suckit

[2022-02-16 18:51] #170 closed, assigned to nobody

[2022-02-28 09:24] Corfucinas commented on #67
Following up on this! Would be great to have it

[2022-02-28 22:29] Skallwar commented on #67
Suckit development is a bit slowed down due to studies but this is definitely something we want to do

[2022-03-13 20:07] raphCode opened #176 "Proxy support"
I tried using a proxy to download via another IP, but couldn't get it to work via the `http_proxy` or `HTTP_PROXY` environment variables:

First, check "normal" public IP, then set a proxy, I tried some from this list until one worked: https://freeproxylists.net/
Check if the proxy works with the curl command (should return proxy IP).
Lastly, run suckit with the proxy and observe that the IP in th

[2022-03-13 20:14] raphCode commented on #145
Maybe we can add an option to output URL filtering information to stdout or a file, e.g, if the include or exclude regex matches?
I think this would lead to more transparency what suckit is doing.
I also plan to implement functionality to rewrite the local URLs that could profit from this debug feature.

[2022-03-15 00:57] raphCode opened #178 "Panic when folder serves a webpage"
When there are files under /folder/file1.html

[2022-03-16 00:26] raphCode commented on #178
The problem seems a combination of a dot being contained in the folder name and a link leading to this folder without a trailing slash.
In [url_helper.rs:28](https://github.com/Skallwar/suckit/blob/79f961495241b31a43b1f3386260a430ab07d81b/src/url_helper.rs#L28) the missing slash does not trigger the `if` path, and the dot in the folder name is interpreted as an extension, so the `else` path is not

[2022-03-16 23:28] Skallwar commented on #176
Reqwest seems to support this. https://docs.rs/reqwest/latest/reqwest/struct.Proxy.html

We could read the environment variable before creating the Downloader

[2022-03-17 11:36] raphCode commented on #176
What I find strange, the environment variable is already read and processed somehow:
- the download takes significantly longer with a proxy
- bad proxy strings lead to failed downloads
- running `strings` on the binary shows that the strings `http_proxy` and `HTTP_PROXY` are contained

But, the downloaded page does not show the proxy ip for the ifconfig.me website.

[2022-03-17 12:46] raphCode opened #181 "Incorrect local URLs on an index_no_slash.html"
When the URL does not end with an slash, the downloaded file becomes `index_no_slash.html`.
But the converted local links are wrong, because [`url.join() is called`](https://github.com/Skallwar/suckit/blob/84276b963128d417f476740ae5dcc8448fa99689/src/scraper.rs#L185), and since the URL does not end with an slash, it strips away the last folder, thinking it is a file.

I made a hackish fix here: ht

[2022-03-17 22:36] Skallwar commented on #145
Good idea

What do you mean?

[2022-03-17 22:47] Skallwar commented on #176
Have you try to use proxy in your browser then go to ifconfig.me? Does the ip displayed is different

My knowledge on proxy is quite limited but from what I remember, behind a proxy your real ip is not hidden as with a VPN

[2022-03-17 22:59] Skallwar commented on #176
From what I read [here](https://docs.rs/reqwest/latest/reqwest/index.html#proxies) it should "just works"™

[2022-03-17 23:30] Skallwar commented on #176
This works for me:
[code]

The ip I get is not my real ip

[2022-03-21 19:46] raphCode commented on #176
Nice catch, I can confirm it works with `https_proxy` **and** `http_proxy`.
It seems suckit makes https content retrieval and additional http requests for something else.
If I had to guess, there is some code that resolves URLs, which is responsible for the http requests. (I remember some unit test which try to resolve an invalid lwn.net URL and looks for a redirect.)

My public server IP got bloc

[2022-03-22 14:54] Skallwar commented on #176
Typical SuckIT

Should we close this?

[2022-03-22 15:19] raphCode commented on #176
As far as I am concerned, yes.
Except you want to keep to open for the multiple proxy feature. This was just an idea, nothing where I would contribute personally.

[2022-03-22 17:24] #176 closed

[2022-03-22 19:00] raphCode commented on #145
To download a phpBB forum, I added a hack to rewrite some URLs, namely remove a `?sid=<hash>` parameter. Otherwise the same pages get downloaded over and over again with different `sid` hashes.
If you want to take a look:
https://github.com/raphCode/suckit/blob/fusornet_hack/src/scraper.rs#L191

I originally planned to flesh this out into a dedicated feature / command line option, but eventuelly d

[2022-04-20 10:48] jaspreet342141 opened #184 "Downloader.get() has encountered an error: not sure what's happening"
![image](https://user-images.githubusercontent.com/87316635/164214694-5f4aad7b-26ab-4568-b903-b72e97290ca0.png)

[2022-04-20 11:06] jaspreet342141 commented on #181
@raphCode hey bro
I am getting an Downloader.get() has encountered an error:
still got the same error with your variant as well
any idea how can I fix this it's sort of confusing for my little no coding knowledge brain
![image](https://user-images.githubusercontent.com/87316635/164217548-7fdd054d-5599-4694-8f3c-18a8754dc937.png)

[2022-04-22 07:42] Skallwar commented on #181
Put a '/' after '.com', it should fix this.

Sorry for the delay in a lot of fixes and issues, I don't have a lot of free time these days

[2022-04-28 13:18] Skallwar opened #189 "Fix release cross compilation CI"
Currently release CI is failing when trying to cross compile
This is due to `native-tls`
Adding the `native-tls-vendored` in reqwest should fix this

[2022-04-28 14:14] Skallwar commented on #189
Another solution would be to switch to [`rustls`](https://github.com/rustls/rustls)

[2022-04-29 18:51] #189 closed

[2022-04-29 21:43] Skallwar commented on #184
Seems like you have some kind of DNS issue. Do the same happens with `wget` or `curl`?

[2022-05-02 09:37] Skallwar commented on #145
The problem with removing parameters such as `?sid` is that they might have changed the content of the requested page. If you remove them, 2 links identical except the parameters will have a common page downloaded by suckit while they should have 2 different pages

[2022-05-02 15:50] raphCode commented on #145
In general you are correct, but in the specific case of phpBB the content is always the same, no matter the `?sid` parameter value.
One solution would be to just ignor all links with this parameter, like suggested [here,](https://superuser.com/a/116528) but this may create a swath of broken links. I just removed the parameter from the URL and collapsed all links into their "canonical" form without

[2022-05-03 11:37] Skallwar commented on #145
We could imagine a solution where you whould have a list of tuple with a regex and list of arguments to remove
[code]

But it might be really costly

[2022-05-08 12:46] bulvara opened #194 "Only download certain filetypes"
How may I only download *.png files?

[2022-05-08 12:54] bulvara opened #195 "Crash with v0.2.0"
I have been running `suckit https://cigeography.blogspot.com/ -i '.*\.png' -o .`:

_thread '<unnamed>' panicked at 'Failed to parse url: http://The POLISH AIR FORCE, ARMY AVIATION and NAVAL AVIATION BRIGADE | Error: invalid domain character', src/scraper.rs:193:31
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
thread 'main' panicked at 'called `Result::unwrap()` on a

[2022-05-08 21:56] Skallwar commented on #195
Thanks for the report. We will investigate

[2022-05-08 22:01] Skallwar commented on #194
You can't. For now I find the regex more powerful than just a list of filetypes since it can be used for other filtering too.

I might be wrong so if you have an example of a use case where you can't easily express the behavior you expect from suckit using the current command line argument please tell us 😉

[2022-05-10 22:10] Skallwar opened #196 "Build for riscv64"
RISC-V is the future :fire: :rocket:

Currently we cannot compile for riscv64 due to `rustls` dependency on [`ring`](https://github.com/briansmith/ring/issues/1419)

[2022-08-06 13:34] Vaibhav1587 opened #200 "Exclude already downloaded file"
How to use the exclude to check page has been already downloaded and skip it?

Is there a way to check the create timestamp of directory/file ?

[2022-08-06 21:51] Skallwar commented on #200
An already visited URL will never be pushed to the download queue. This is built-in standard behavior no need to do anything specific

Not at the moment. If this is something you need feel free to open an issue to discuss it

[2022-10-18 18:49] loo-kaa commented on #71
It seems to me that by adding the parameter `--disable-certs-checks` the download works for most cases: i've tested using [https://badssl.com/](https://badssl.com/). What "invalid certificate means for you ? Is this an old issue, maybe it can be closed. I'm a newbie but i'm trying to get into open source maintaining.

[2022-10-22 17:56] Skallwar commented on #71
Good catch! This is indeed an old issue and it was fixed by #203.
I did not know about https://badssl.com/. If you want to try to add a test, I will gladly help/review. Note that Suckit is participating to [hacktoberfest](https://hacktoberfest.com/)

[2022-10-22 17:56] #71 closed

[2022-10-25 09:45] loo-kaa commented on #71
I'll try to add a test, thanks for now👍